* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.resultDisplay {
  margin: auto;
  margin-top: 20vmin;
  height: 50vh;
  border: 2px solid black;
  /* display: none;  */
  background: white;
  padding: 10vmin;
  border-radius: 5vmin;
  width: 35vw;
  /* height: auto; */
  text-align: center;
}